<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row ">
            <div class="col-md-7">
                <form action="/edit/<%= character._id %>?_method=PUT" method="POST" class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" value="<%= character.name %>" name="name"
                            id="name" placeholder="Character Name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="race" class="form-label">Race</label>
                        <select onchange="ajaxRequest('race', this.value)" id='race' class="form-select"
                            aria-label="Default select example" name="race" required>
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i < raceOptions.length; i++ ) { %>

                                <option <% if (raceOptions[i].name==character.race.name) { %>
                                    selected
                                    <% } %> value="<%=raceOptions[i].name%>">
                                            <%= raceOptions[i].name %>
                                </option>
                                <% } %>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="class" class="form-label">Class</label>
                        <select onchange="ajaxRequest('class', this.value)" id='class' class="form-select"
                            aria-label="Default select example" name="playerClass" required>
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i < classOptions.length; i++ ) { %>


                                <option <% if (classOptions[i].name==character.class.name) { %>
                                    selected
                                    <% } %> value="<%= classOptions[i].name %>">
                                            <%= classOptions[i].name %>
                                </option>
                                <% } %>


                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="background" class="form-label">Background</label>
                        <select class='form-select' id="background" name="background">
                            <option selected>Open this select menu</option>
                            <% for(let i=0; i< backgrounds.length; i++) { %>
                                <option <% if (backgrounds[i].name==character.background.name) { %>
                                    selected
                                    <% } %> value="<%= backgrounds[i].name %>">
                                            <%= backgrounds[i].name %>
                                </option>

                                <% } %>

                        </select>

                    </div>
                    <div class="col-md-6">
                        <label for="level" class="form-label">Level</label>
                        <select name="level" id='level' class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i <=20; i++ ) { %>
                                <option <% if (i==character.level[0].level) { %>
                                    selected
                                    <% } %> value=<%= i %>>
                                            <%= i %>
                                </option>
                                <% } %>
                        </select>
                    </div>

                    <h2>Ability Calculations</h2>
                    <div id='standardArrayDisplay' class='standardArrayDisplayClass'>

                        <div class="row align-items-center">
                            <%- include('./partials/inputScoreDisplay') %>
                        </div>
                    </div>



                    <div class="container">
                        <div class="row">
                            <% abilites.forEach(element=> { %>
                                <div class='col-md-6 mp-0 center'>
                                    <div class="card style=" width: 18rem;">
                                        <div class="card-header">
                                            <%=element.index%> Score
                                        </div>

                                        <table id="<%= element.index %>Table" class='table table-borderless'>
                                            <tr id='modifier'>
                                                <td>Modifier</td>
                                                <td>-</td>
                                            </tr>
                                            <tr id='baseScore'>
                                                <td>Base Score</td>
                                                <td>-</td>
                                            </tr>
                                            <tr id='RacialBonus'>
                                                <td>Racial Bonus</td>
                                                <td>-</td>
                                            </tr>
                                            <tr id='abilityImprovementBonus'>
                                                <td>Ability Improvement</td>
                                                <td>-</td>
                                            </tr>
                                            <tr id='miscBonus'>
                                                <td>Misc Bonus</td>
                                                <td>-</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <% });%>
                        </div>
                    </div>
                    <div class="container">

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="share">
                            <label class="form-check-label" for="flexCheckDefault">
                                Check to make Public
                            </label>


                        </div>
                        <div class="row">
                            <div class="col-auto">
                            <div class="mb-3">
                                <button class="btn btn-warning">Update Character</button>
                            </div>
                            </div>


                </form>
                <div class="col-auto">
                <form style="display: inline;" method="POST" action="/edit/<%= character._id %>?_method=DELETE">
                    <button class="btn btn-danger">Delete Character</button>
                </form>
            </div>
        </div>
            

        </div>
    </div>

    <div class="col-md-5 align-self-center" id='selectedOverview'>
        <div class="card" id="raceOverview">
            <div class="card-header">
                Featured
                <h4 id="currentRaceName"></h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Ability Bonus</h5>
                <ul class="list-group list-group-flush" id="abilityBonus">

                </ul>
                <h5 class="card-title">Speed</h5>
                <p class="card-text" id="speed">With supporting text below as a natural lead-in to additional
                    content.</p>

                <h5 class="card-title">Age</h5>
                <p class="card-text" id="age">With supporting text below as a natural lead-in to additional
                    content.</p>

                <h5 class="card-title">Language_desc</h5>
                <p class="card-text" id="language_desc">With supporting text below as a natural lead-in to
                    additional content.</p>

                <h5 class="card-title">Size</h5>
                <p class="card-text" id="size">With supporting text below as a natural lead-in to additional
                    content.</p>

                <h5 class="card-title">Subraces</h5>
                <p class="card-text" id="subraces">With supporting text below as a natural lead-in to additional
                    content.</p>

                <h5 class="card-title">Traits</h5>
                <p class="card-text" id="traits">With supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
        <div class="card" id="classOverview">
            <div class="card-header">
                Featured
                <h4 id="currentClassName"></h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">HitDie</h5>
                <p class="card-text" id="hitDie">With supporting text below as a natural lead-in to additional
                    content.</p>

                <h5 class="card-title">proficiencies</h5>
                <p class="card-text" id="proficiencies">With supporting text below as a natural lead-in to
                    additional content.</p>
                <ul class="list-group list-group-flush" id="proficienciesList">

                </ul>

                <h5 class="card-title">proficiency_choices</h5>
                <p class="card-text" id="proficiency_choices">With supporting text below as a natural lead-in to
                    additional content.</p>

                <h5 class="card-title">saving_throws</h5>
                <p class="card-text" id="saving_throws">With supporting text below as a natural lead-in to
                    additional content.</p>

                <h5 class="card-title">spellcasting</h5>
                <p class="card-text" id="spellcasting">With supporting text below as a natural lead-in to
                    additional content.</p>

                <h5 class="card-title">subclasses</h5>
                <p class="card-text" id="">With supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script>
        var characterData = '<%- JSON.stringify(character) %>';
    </script>









    <script src="../newChracter.js"></script>