<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <form action="/new" method="POST" class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="character[name]" id="name"
                            placeholder="Character Name">
                    </div>
                    <div class="col-md-6">
                        <label for="race" class="form-label">Race</label>
                        <select onchange="ajaxRequest('race', this.value)" id='race' class="form-select"
                            aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i < raceOptions.length; i++ ) { %>
                                <option value="<%=raceOptions[i].name%>">
                                    <%= raceOptions[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="class" class="form-label">Class</label>
                        <select onchange="ajaxRequest('class', this.value)" id='class' class="form-select"
                            aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i < classOptions.length; i++ ) { %>
                                <option value="<%= classOptions[i].name %>">
                                    <%= classOptions[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="level" class="form-label">Level</label>
                        <select id='class' class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <% for( let i=0; i <=20; i++ ) { %>
                                <option value="i">
                                    <%= i %>
                                </option>
                                <% } %>
                        </select>
                    </div>

                    <h2>Ability Calculations</h2>
                    <div id='standardArrayDisplay' class='standardArrayDisplayClass'>

                    <div class="row align-items-center">
                        <%- include('./partials/inputScoreDisplay') %>
                    </div>
                    </div>
            


            <div class="container">
            <div class="row">
                <% abilites.forEach(element=> { %>
                    <div class='col-md-6 mp-0 center'>
                        <div class="card style=" width: 18rem;">
                            <div class="card-header">
                                <%=element.index%> Score
                            </div>

                            <table id="<%= element.index %>Table" class='table table-borderless'>
                                <tr id='modifier'>
                                    <td>Modifier</td>
                                    <td>-</td>
                                </tr>
                                <tr id='baseScore'>
                                    <td>Base Score</td>
                                    <td>-</td>
                                </tr>
                                <tr id='RacialBonus'>
                                    <td>Racial Bonus</td>
                                    <td>-</td>
                                </tr>
                                <tr id='abilityImprovementBonus'>
                                    <td>Ability Improvement</td>
                                    <td>-</td>
                                </tr>
                                <tr id='miscBonus'>
                                    <td>Misc Bonus</td>
                                    <td>-</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <% });%>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Character</button>
                </form>
            </div>
        </div>
            <div class="col">
                <div class="col-md-4 text-center" id='selectedOverview'>
                    <h1 id='currentRaceName'>stuff</h1>
                    <p id='raceAge'>stuff</p>
                    <p id='launguages'>stuff</p>
    
                </div>
            </div>
        </div>


    </div>





    <script src="newChracter.js"></script>