<% layout('layouts/boilerplate') %> 

<h2>WE MADE IT TO THE BOILERPLATE view</h2>

<div class="card" style="width: 18rem;" >
    <div class="card-body">
        <h5 class="card-title"><%= character.name %> </h5>
        <h6 class="card-subtitle mb-2 text-muted">Race: <%= character.race %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Level <%= character.level %> <%= character.class %></h6>
        <% if (character.subclass != null) { %>
            <h6 class="card-subtitle mb-2 text-muted">Subclass: <%= character.subclass %></h6>
         
        <% } %>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <ul class="list-group list-group-flush">
            <% for( let i = 0; i < abilityScores.length; i++ ) { %>
                <li class="list-group-item"><%= abilityScores[i].name %>: <%= character.abilityScores[i] %>  </li>
            <% } %>
          </ul>
        <a href="/index" class="card-link">Back</a>
        <a href="/edit/<%= character._id %>" class="card-link">Edit</a>
    </div>
</div>